/* ---- FOOTER ---- */          

.footer {
    background: rgba(50, 30, 20, 0.9);                 /* ---- usamos la clase footer en lugar de la etiqueta por si en un futuro quisieramos a;adir otro tipo de footers ---- */   
    color: #e0c097;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
    z-index: 2;
    
}